@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Confirmation Page";
}

@model Assignment4.Models.Suggestion

<div>
    <h3>Your submission has been received.</h3>
</div>

<div>
    Click <a asp-action="RestaurantList">here</a> to see the restaurant list.
</div>