@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Restaurant Suggestions";
}

<!--Suggestion is a model that handles restaurants suggested by people visiting the site that were not included in the top 5-->
@model IEnumerable<Assignment4.Models.Suggestion>

<div class="list-group">
    <h4 class="bg-primary text-white text-center">Here is a list of the submitted restaurant suggestions</h4>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Restaurant</th>
                <th>Favorite Dish</th>
                <th>Restaurant Phone Number</th>
            </tr>
        </thead>

            <tbody>

                @foreach (Assignment4.Models.Suggestion x in Model)
                {
                    <tr>
                        <td>@x.Name</td>
                        <td>@x.RestaurantName</td>
                        <td>@x.FavoriteDish</td>
                        <td>@x.RestaurantPhone</td>
                    </tr>
                }
            </tbody>
    </table>
</div>